.login-container {
    display: flex;
    height: 100vh;
}

.image-container {
    flex: 1;
    background-image: url('../assets/image.png');
    background-size: cover;
    background-position: center;
}

.form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

form input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;  /* Rounded edges */
    border: 1px solid #ddd;
}

form button {
    padding: 10px;
    font-size: 1rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 90px;  /* Rounded edges */
    cursor: pointer;
}

form button:hover {
    background-color: #333;
}

.google-login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 50px;  /* Rounded edges */
    cursor: pointer;
}

.google-login-button img {
    margin-right: 10px;
}

.password-input-container {
    position: relative;
    width: 100%;
}

.password-input {
    width: 100%;
    padding-right: 40px; /* Make space for the eye icon */
    border-radius: 8px;  /* Optional: Add rounded corners */
    padding: 10px;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.eye-icon img {
    width: 20px;  /* Set appropriate width */
    height: 20px; /* Set appropriate height */
}
